<h2>Search Stocks</h2>
<div>
  <label>
    <input class="search" #quoteSearch/>
  </label>
  <!-- (click) passes input value to search() and then clears the input -->
  <button class="search" title="Search" (click)="search(quoteSearch.value);">
    Search
  </button>
</div>
<div *ngIf="stock">
  <div><span class="result-label"> Open: </span><span class="result-label">{{stock.open}}</span></div>
  <div><span class="result-label">Close: </span><span class="result-label">{{stock.close}}</span></div>
  <div><span class="result-label"> High: </span><span class="result-label">{{stock.high}}</span></div>
  <div><span class="result-label">  Low: </span><span class="result-label">{{stock.low}}</span></div>
  <div><span class="result-label">Price: </span><span class="result-label">{{stock.price}}</span></div>
</div>
