<h2>Search Stocks</h2>
<div>
  <label>
    <input class="search" #quoteSearch/>
  </label>
  <!-- (click) passes input value to search() and then clears the input -->
  <button class="search" title="Search" (click)="search(quoteSearch.value); quoteSearch.value=''">
    Search
  </button>
</div>
<div *ngIf="stock">
  <div><span>Open: </span>{{stock.open}}</div>
  <div><span>Close: </span>{{stock.close}}</div>
  <div><span>High: </span>{{stock.high}}</div>
  <div><span>Low: </span>{{stock.low}}</div>
  <div><span>Price: </span>{{stock.price}}</div>
</div>
