<h2>Search Stocks</h2>
<div>
  <label>
    <input class="search" #quoteSearch/>
  </label>
  <!-- (click) passes input value to search() and then clears the input -->
  <button class="search" title="Search" (click)="search(quoteSearch.value); quoteSearch.value=''">
    Search
  </button>
</div>
<div>
  <table class="table-responsive-sm table-dark">
    <tbody>
    <tr>
      <td class="result-label">Close:</td>
      <td class="result">{{stock.c}}</td>
    </tr>
    <tr>
      <td class="result-label">High:</td>
      <td class="result">{{stock.h}}</td>
    </tr>
    <tr>
      <td class="result-label">Low:</td>
      <td class="result">{{stock.l}}</td>
    </tr>
    <tr>
      <td class="result-label">Open:</td>
      <td class="result">{{stock.o}}</td>
    </tr>
    <tr>
      <td class="result-label">Price:</td>
      <td class="result">{{stock.pc}}</td>
    </tr>
    <tr>
      <td class="result-label">Time:</td>
      <td class="result">{{stock.t}}</td>
    </tr>
    </tbody>
  </table>
</div>
